<section data-ng-controller="FizzBuzzController">

	<button type="button" title="Close" class="btn btn-closemodal" ng-click="$close()">
		<span aria-hidden="true"><strong class="text-muted">&times;</strong></span>
		<span class="hide">Close</span>
	</button>

	<div class="jumbotron">
		<form class="form-inline" role="form">
		<span class="col-sm-6">
			<h3>Classic FizzBuzz Test</h3>
			<div class="col1 clearfix">
				<a class="btn btn-primary form-control col1 floatleft" role="button" ng-click="fizztxt=savetxt(fizzBuzz())">Output</a>
			</div>
			<br/>
			<textarea id="fizzoutputtxt" class="form-control col1 clearfix" rows="15" ng-model="fizztxt"></textarea>
		</span>
		<span class="col-sm-6">
			<pre>{{js_beautify('$scope.fizzBuzz = ' + fizzBuzz.toString())}}</pre>
		</span>
		</form>
	</div>


</section>
