.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
body {
	background-color: #eee;
}

.col1 {
	width: 100% !important;
}
.col2 {
	width: 49.5% !important;
}
.col3 {
	width: 33.33% !important;
}
.col4 {
	width: 25% !important;
}
.col5 {
	width: 20% !important;
}
.col6 {
	width: 16.66% !important;
}
.killpad {
	padding-left: 0;
	padding-right: 0;
}
.floatleft {
	float: left;
}

.app-modal-window .modal-dialog {
	width: 100%;
}


/*.app-modal-window .modal-dialog .modal-content {*/
	/*background: none;*/
	/*box-shadow: none;*/
	/*border: none;*/
/*}*/

.app-modal-window .jumbotron{
	margin: 0;
	overflow: auto;
}


.app-modal-window .btn-closemodal {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	border-radius: 6px;
	width: 32px;
	height: 32px;
	color: black;
	text-align: center;
	font-size: 16px;
	z-index: 5000;
}
.app-modal-window .btn-closemodal:not(:hover) {
	background: none;
}

.app-modal-window pre {
	height: 26.5pc;
	overflow-y: scroll;
}

.app-modal-window textarea {
	overflow-y: scroll;
}
